* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  margin: 0;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 1.8;
}

img {
  width: 70px;
}

.card {
  padding: 3rem;
}

.button {
  display: inline-block;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 26px;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin: 20px 0;
  transition: 0.5s;
}

.sedans .button {
  color: hsl(31, 77%, 52%);
}

.sedans .button:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.suvs .button {
  color: hsl(184, 100%, 22%);
}

.suvs .button:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.luxury .button {
  color: hsl(179, 100%, 13%);
}

.luxury .button:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
}

.card-set {
  display: flex;
  flex-direction: column;
  margin: 40px 10%;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 15px 0 0;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 15px 15px;
}



@media (hover:hover){
  .sedans .button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
  }

  .suvs .button:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
  }

  .luxury .button:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
  }
}



@media (min-width: 700px){
  .card {
    max-width: 557px;
  }
}

@media (min-width: 1200px)  {
  body {
    height: 100vh;
  }

  .card-set {
    flex-direction: row;
    margin: auto;
  }

  .card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sedans {
    border-radius: 15px 0 0 15px;
  }

  .luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 15px 15px 0;
  }
}
